.product{
    min-width: 260px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 20px #00000022;
    border: 1px solid rgba(188, 188, 188, 0.279);
    border-radius: 6px;
    cursor: pointer;
}
.product-image-container{
    border-radius: 4px 4px 8px 8px;
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;
}
.product-image-container:hover img{
    scale: 1.1;
}
.product-image-container img{
    width: 100%;
    object-fit: cover;
    transition: .3s;
}
.image-absolutes{
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.add-to-cart{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    text-shadow: 0 0 5px #00000046;
}

.add{
    font-size: 18px;
    padding: 2px 9px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.68);
}
.added{
    font-size: 18px;
    padding: 2px 7px;
    color: white;
    background-color: var(--clr-pr-md);
    border-radius: 50%;
    animation: added .3s;
}

.review-container{
    background-color: rgba(255, 255, 255, 0.68);
    padding:0 4px;
    border-radius: 6px;
    box-shadow: 0 0 5px #00000046;
}
.review-container span{
    font-size: 16px;
    color:var(--clr-pr-dr);
}

.product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}
.product-name{
    font-size:18px;
    font-weight: 700;
}
.product-brand{
    font-size: 14px;
    color: gray;
}
.product-amount-off{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.product-amount{
    font-weight: 600;
}
.product-amount span{
    color: rgb(45, 45, 45);
    margin-left: 2px;
    font-size: 14px;
    font-weight: 500;
    text-decoration:line-through;
}
.product-off{
    color: var(--clr-pr-md);
}
.toast-msg{
    
    width: 100px;
    position: absolute;
    margin: auto;
    top: 50%;
    visibility: hidden;
    color: white;
    left:calc(50% - 50px);
    backdrop-filter: brightness(0.4);
    border-radius: 4px;
    animation: fade 2s;
   
}

@keyframes added{
    0%{
       background-color: white;
        transform: rotateY(180deg);
    }
   
    100%{
        background-color: var(--clr-pr-md);
        transform: rotateY(0deg);
    }
}
@keyframes fade {
    0%{
        opacity: 0;
        top: 60%;
        visibility: visible;
    }
    50%{
        top: 50%;
        opacity: 1;
    }
    100%{
        opacity: 0;
     visibility: hidden;
    }
}
@media (max-width:500px){
    .product{
        min-width: 230px;
    }
    .product-image-container{
        height: 200px;
    }
    .added{
        padding: 1px 5px;
    }
}